.auth-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

p {
    margin-bottom: 5px;
}

.title {
    margin-top: 10px;
}

.question-text {
    display: inline-block;
    margin-top: 10px;
    margin-right: 7px;
}

.auth-btn {
    position: relative;
    min-width: 70px;
    min-height: 30px;
}